@tailwind base;
@tailwind components;
@tailwind utilities;

@import "element-plus/dist/index.css";
@import "vue-advanced-cropper/dist/style.css";

:root {
  --web-capture-height: auto;
  --web-capture-width: 100%;

  --max-container-width: 768px;
  --container-padding: 10px;
}

.el-button {
  @apply py-[20px];
}

.el-button + .el-button {
  @apply m-0;
}
